.contact-us {
    background-color: #1a273c;
    padding: 20px 100px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.contact-us .contain {
    padding-top: 20px;
}

.contact-us i {
    width: 20px;
    height: 20px;
    color: #FF007A;
}

.contact-us i:hover {
    color: #fff;
}

.contact-us .map {
    border-radius: 10px;
}

.contact-us .map {
    width: 500px;
    height: 250px;
}

@media(max-width: 992px) {
    .contact-us {
        padding: 20px;
    }

    .contact-us .map {
        width: 350px;
        height: 200px;
    }
}